body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.Links {
    display: flex;
    flex-direction: column;
}

.Cabeza {
    display: flex;
    align-items: center;
    height: 90vh;
}

.Izq {
    width: 50%;
    height: 100%;
    background: linear-gradient(180deg, #cd9afc, #6d28d9);
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Phone {
    width: 250px;
    position: absolute;
    right: -60px;

}

.Drc {
    width: 50%;
    padding: 80px;
}

.Drc h2 {
    font-size: 40px;
    color: #2e2e2e;
}

.Drc p {
    color: #777;
    line-height: 1.6;
    max-width: 450px;
}
