* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f7fa;
}

.Links {
    display: flex;
    flex-direction: column;
}

.Caracteristicas {
    max-width: 1100px;
    margin: 80px auto;
    text-align: center;
}

.Caracteristicas h2 {
    font-size: 32px;
    font-weight: lighter;
}

.Caracteristicas strong {
    font-weight: bold;
    color: #4d4f61;
}

.Subtitulo {
    font-size: 15px;
    max-width: 550px;
    margin: 40px auto 60px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.Tarjeta {
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-top: 4px solid;
}

.Supervisor {
    grid-column: 1;
    grid-row: 2;
    border-color: #45d3d3;
}

.Supervisor h3 {
    color: #57546e;
}

.Supervisor p {
    color: gray;
}

.Builder {
    grid-column: 2;
    grid-row: 1;
    border-color: #b44e53;
}

.Builder h3 {
    color: #57546e;
}

.Builder p {
    color: gray;
}
.Karma {
    grid-column: 2;
    grid-row: 3;
    border-color: #e3ae5c;
}

.Karma h3 {
    color: #57546e;
}

.Builder p {
    color: gray;
}

.Calculator {
    grid-column: 3;
    grid-row: 2;
    border-color: #7ca5d6;
}

.Calculator h3 {
    color: #57546e;
}

.Calculator p {
    color:gray
}

@media (max-width: 768px) {

    .Caracteristicas {
        max-width: 100%;
        padding: 20px;

    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .Tarjeta {
        width: 100%;
    }

   

    

}